/* Fonts */

@import url(/css/fonts.css);
.fw-semibold {
    font-weight: 500;
}

/* Root */

:root {
    --pnred: #F44336;
    --pnblue: #03A9F4;
    --pngreen: #66BB6A;
    --pnblack: #000;
    --pnlightgray: #fafafa;
    --pngray: #d1d1d1;
    --pndarkgray: #333;
    --pnmidgray: #999;
    --pnpurple: #9C27B0;
    --pnorange: orange;
}

::selection {
    color: white;
    background: var(--pnblue);
}

.red {
    color: var(--pnred);
}

.blue {
    color: var(--pnblue);
}

.green {
    color: var(--pngreen);
}

.black {
    color: var(--pnblack);
}

.gray {
    color: var(--pnmidgray);
}

.orange{
    color: var(--pnorange);
}

/* main */

html, body {
    color: black;
    font-family: 'Inter';
}

/* Fade page */

#fadepage {
    -webkit-animation: fadein 0.75s;
    -moz-animation: fadein 0.75s;
    -ms-animation: fadein 0.75s;
    -o-animation: fadein 0.75s;
    animation: fadein 0.75s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Headings */

h1, h2, h3, h4, h5, h6, p {
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* a */

a {
    transition: 0.15s;
    text-decoration: none;
}

a.link {
    color: var(--pnblack);
    text-decoration: underline;
    text-underline-offset: 0.15em;
    /* text-decoration-thickness: 0.15em; */
    font-weight: 500;
}

a.link:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.15em;
    /* text-decoration-thickness: 0.15em; */
}

a.hometitle {
    color: black;
}

/* blog classes */

a.blog-button {
    color: var(--pnblue);
}

a.blog-button:hover {
    color: var(--pnblue);
}

a.blog-button-disable {
    color: var(--pngray);
}

a.blog-item {
    color: var(--pngray);
}

a.blog-item:hover {
    color: var(--pnblue);
}

a.blog-item-active {
    color: var(--pnblue);
}

a.blog-item-active:hover {
    color: var(--pnblack);
}

/* works classes */

a.works-button {
    color: var(--pnred);
}

a.works-button:hover {
    color: var(--pnred);
}

a.works-button-disable {
    color: var(--pngray);
}

a.work-item {
    color: var(--pngray);
}

a.work-item:hover {
    color: var(--pnred);
}

a.work-item-active {
    color: var(--pnred);
}

a.work-item-active:hover {
    color: var(--pnblack);
}

/* social classes */

a.social-button {
    color: var(--pngreen);
}

a.social-button:hover {
    color: var(--pngreen);
}

a.social-button-disable {
    color: var(--pngray);
}

a.social-item {
    color: var(--pngray);
}

a.social-item:hover {
    color: var(--pngreen);
}

a.social-item-active {
    color: var(--pngreen);
}

a.social-item-active:hover {
    color: var(--pnblack);
}

/* about classes */

a.about-button {
    color: var(--pnblack);
}

a.about-button-disable {
    color: var(--pngray);
}

a.about-button:hover {
    color: var(--pnblack);
}

/* reviews classes */

a.reviews-button {
    color: var(--pnorange);
}

a.reviews-button:hover {
    color: var(--pnorange);
}

a.reviews-button-disable {
    color: var(--pngray);
}

a.review-item {
    color: var(--pngray);
}

a.review-item:hover {
    color: var(--pnorange);
}

a.review-item-active {
    color: var(--pnorange);
}

a.review-item-active:hover {
    color: var(--pnblack);
}

/* tooltip */

.tooltip {
    font-size: 17px;
    display: none;
}

.tooltip-inner {
    background-color: #fff;
    color: var(--pngray);
    white-space: nowrap;
    font-family: 'Inter';
    letter-spacing: normal;
}

.tooltip-arrow {
    display: none !important;
}

/* other css */

.date {
    color: var(--pnmidgray);
}

/* media queries */

/* X-Small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .tooltip {
        display: unset;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}