/* Fonts */

@import url(/css/fonts.css);
.fw-semibold {
    font-weight: 500;
}

/* Root */

:root {
    --pndark1: #111;
    --pndark2: #333;
    --pndark3: #555;
    --pndark4: #777;
    --pndark5: #999;
    --pnwhite: #fff;
}

/* Fade page */

#fadepage {
    -webkit-animation: fadein 0.75s;
    -moz-animation: fadein 0.75s;
    -ms-animation: fadein 0.75s;
    -o-animation: fadein 0.75s;
    animation: fadein 0.75s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Main */

.bgdark {
    background-color: var(--pndark2);
}

body {
    font-family: 'Inter', sans-serif;
}

.container-fluid {
    max-width: 96%;
}

/* Headings */

h1, h2, h3, h4, h5, h6, p {
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

/* a */

a {
    transition: 0.15s;
    text-decoration: none;
    color: var(--pndark1);
}

a:hover {
    color: var(--pndark4);
}

a.hometitle-light {
    font-family: 'Poppins', sans-serif;
    color: var(--pnwhite);
}

a.hometitle-light:hover{
    color: var(--pndark5);
}

a.hometitle-dark {
    font-family: 'Poppins', sans-serif;
    color: var(--pndark1);
}

a.hometitle-dark:hover{
    color: var(--pndark4);
}

/* blog classes */

a.blog-button {
    color: var(--pnwhite);
}

a.blog-button:hover {
    color: var(--pnwhite);
}

a.blog-button-disable {
    color: var(--pndark4);
}

a.blog-item {
    color: var(--pndark3);
}

a.blog-item:hover {
    color: var(--pnwhite);
}

a.blog-item-active {
    color: var(--pnwhite);
}

a.blog-item-active:hover {
    color: var(--pndark5);
}

/* works classes */

a.works-button {
    color: var(--pnwhite);
}

a.works-button:hover {
    color: var(--pnwhite);
}

a.works-button-disable {
    color: var(--pndark4);
}

a.work-item {
    color: var(--pndark3);
}

a.work-item:hover {
    color: var(--pnwhite);
}

a.work-item-active {
    color: var(--pnwhite);
}

a.work-item-active:hover {
    color: var(--pndark5);
}

/* social classes */

a.social-button {
    color: var(--pnwhite);
}

a.social-button:hover {
    color: var(--pnwhite);
}

a.social-button-disable {
    color: var(--pndark4);
}

a.social-item {
    color: var(--pndark3);
}

a.social-item:hover {
    color: var(--pnwhite);
}

a.social-item-active {
    color: var(--pnwhite);
}

a.social-item-active:hover {
    color: var(--pndark5);
}

/* about classes */

a.about-button {
    color: var(--pnwhite);
}

a.about-button-disable {
    color: var(--pndark4);
}

a.about-button:hover {
    color: var(--pnwhite);
}

/* reviews classes */

a.reviews-button {
    color: var(--pnwhite);
}

a.reviews-button:hover {
    color: var(--pnwhite);
}

a.reviews-button-disable {
    color: var(--pndark4);
}

a.review-item {
    color: var(--dark3);
}

a.review-item:hover {
    color: var(--pnwhite);
}

a.review-item-active {
    color: var(--pnwhite);
}

a.review-item-active:hover {
    color: var(--pndark5);
}

/* other css */

.tooltip {
    font-size: 17px;
}

.tooltip-inner {
    background-color: var(--pndarkgray);
    color: var(--pndark3);
    white-space: nowrap;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: normal;
}

.tooltip-arrow {
    display: none !important;
}