<div style="color: var(--pngray);">
    <p class="mb-0">
        <span class="fw-bold"><a class="hometitle" href="/">Pratik Nilange</a></span>
        <br>
        <a href="#blog" class="blog-button fw-semibold" id="blogbutton">Blog</a>
        <br>
        <a href="#works" class="works-button fw-semibold" id="worksbutton">Works</a>
        <br>
        <a href="#reviews" class="reviews-button fw-semibold" id="reviewsbutton">Reviews</a>
        <br>
        <a href="#social" class="social-button fw-semibold" id="socialbutton">Social</a>
        <br>
        <a href="/about/" class="about-button fw-semibold">About</a>
    </p>
</div>