<div style="color: var(--pngray);">
    <p class="fw-bold">
        <a class="hometitle-light" href="/">प्रतिक निलंगे</a>
    </p>
    <p>
        <a href="#blog" class="blog-button fw-bold" id="blogbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Musings on tech, design, life">Blog</a>
        <br>
        <a href="#works" class="works-button fw-bold" id="worksbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Mostly boring stuff">Works</a>
        <br>
        <a href="#reviews" class="reviews-button fw-bold" id="reviewsbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Good & Bad">Reviews</a>
        <br>
        <a href="#social" class="social-button fw-bold" id="socialbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Links to cool stuff on the Internet">Social</a>
        <br>
        <a href="/about/" class="about-button fw-bold" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Just some guy">About me</a>
    </p>
</div>