<div style="color: var(--pngray);">
    <p class="mb-0">
        <span class="fw-bold"><a class="hometitle" href="/" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="pratiknilange.in">Pratik Nilange</a></span>
        <br>
        <a href="#blog" class="blog-button fw-semibold" id="blogbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Musings on tech, design, life">Blog</a>
        <br>
        <a href="#works" class="works-button fw-semibold" id="worksbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Mostly boring stuff">Works</a>
        <br>
        <a href="#reviews" class="reviews-button fw-semibold" id="reviewsbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Good & Bad">Reviews</a>
        <br>
        <a href="#social" class="social-button fw-semibold" id="socialbutton" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Links to cool stuff on the Internet">Social</a>
        <br>
        <a href="/about/" class="about-button fw-semibold" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="right" title="Just some guy">About Me</a>
    </p>
</div>