---

---

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


body{
  font-family: 'Inter', sans-serif !important;
}


img{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.5em;
}

img.nopadding{
  padding-top: 0;
  padding-bottom: 0;
}

.gray{
  color: lightgray;
}

.text-center{
  text-align: center;
}