@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

img {
    width: 100%;
}

.img-caption {
    text-align: center;
    color: gray;
}



.menu ul span { float: left; font-weight: bold;}

body{
    font-family: 'Noto Sans Mono', monospace;
}

main p, h1{
    margin-top: 0;
    margin-bottom: 1rem;
}
