---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


img{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

img.nopadding{
  padding-top: 0;
  padding-bottom: 0;
}

.gray{
  color: lightgray;
}

.text-center{
  text-align: center;
}